.width100{
  width: 100%;
  display: flex;
}
.App{
  width: 80%;
  margin: 10% auto;
  border: 1px solid;
  padding: 25px;
  border-radius: 8px;
}
.width30{
  width: 20%;
}
.width70{
  width: 70%;
}
.active{
  color: red;
}